@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Oswald:200&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  background: rgb(20,20,22);
  background: linear-gradient(37deg, rgba(20,20,22,1) 0%,
 rgba(66,90,190,1) 50%, rgba(20,20,22,0.8799894957983193) 100%);
}
body,
button {
  font-family: "Poppins", sans-serif;

}
.header .container {
  min-height: 10vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #00b3ff;
  bottom:40px;
  right:50px ;
  z-index: 99;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  background: #07b0ff;
  background-size: 5%;
  font-family: 'Aguafina Script', cursive;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 5px;
  margin-top: 17px;
  margin-right: -43px;
  line-height: 0.8em;
  color: #fff !important;
  display: inline-block;
}
.logo span {
  font-size: 60%;
  font-weight: 300;
  color: black;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("car.jpg") no-repeat top center / cover;
  position: relative;
  background-attachment: fixed ;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background-color: rgba(43, 51, 59, 0.8);*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  max-width: 70rem;
  text-align: center;
  color: #fff;
  font-family: serif;
}
.title {
  /* font-size: 2.7rem; */
  font-size: 6em;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 50px;
  margin: 24px 0 0 45px;
  color: rgb(255, 254, 253);
  font-family: 'Aguafina Script', cursive;
	line-height: inherit;
  text-shadow:0 0 10px #9fabb1, 
  0 0 20px #35393b,
  0 0 40px #35393b,
  0 0 80px #35393b,
  0 0 120px #dfe8ec;
}
.btn {
  margin-top: 1rem;
  font-size: medium;
  padding: 0.6rem 1.8rem;
  background-color: #110f08;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  margin-top: 1rem;
  font-size: large;
  padding: 0.6rem 1.8rem;
  background-color:#fff;
  border: none;
  border-radius: 25px;
  color: #5c4f0a;
  text-transform: uppercase;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
  font-size: 1.2rem;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}
.content{
  margin-top: 550px;
  background: #0c1116;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 1200px;
  box-shadow: 0 25px 30px rgb(0,0,0,0.5);
  display: flex;
  font-family: sans-serif;
  color: #fff;
  
}
.about{
  width: 40%;
  height: 100%;
  background: rgb(3, 2, 2);
  box-sizing: border-box;
  padding: 50px 50px;
}
.imagebox{
  width: 70%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(frontend-images/1.jpg);
  box-sizing: border-box;
  background-size: 100%;
  font-family: sans-serif;
  color: #fff;
}
.content h1{
  font-size: 3em;
  color: #fff;
  text-shadow:0 0 10px #00b3ff, 
  0 0 20px #00b3ff,
  0 0 40px #00b3ff,
  0 0 80px #00b3ff,
  0 0 120px #00b3ff;
}
.content p{
  font-size: 1.2em;
  color: #fff;
}
.imagebox::before{
  content: '';
  position: absolute;
  left: -6.1em;
  top: 50%;
  transform:translateY(-50%) rotate(20deg);
  background: rgb(3, 2, 2);
  width: 40%;
  height: 140%;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  
}

/* qualities */

.quality{
    margin-top: 450px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: rgb(20,20,22);
    background: linear-gradient(37deg, rgba(20,20,22,1) 0%,
  rgba(66,90,190,1) 50%, rgba(20,20,22,0.8799894957983193) 100%);
    box-sizing: border-box;
    animation: forwards;
}

.quality h1{
  color: #fff;
 padding-top: 10%;
 font-size: 3em;
 font-weight: 600;
 letter-spacing:0.1em;
 text-shadow:0 0 10px #00b3ff, 
 0 0 20px #00b3ff,
 0 0 40px #00b3ff,
 0 0 80px #00b3ff,
 0 0 120px #00b3ff;

}
.quality .container{
  
    position: relative;
    display: flex;
    justify-content: center;
    padding: 8%;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.container .card{
    position: relative;
    width: 220px;
    height: 250px;
    background: #2a2a2a54;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
}
.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform:rotate(270deg);
}

.container .card .percent svg circle{
    width: 100px;
    height: 100px;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
}
.container .card .percent svg circle:nth-child(2){
    stroke: var(--cir);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIN 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIN {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before{
    content: '';
    position:absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--cir);
    box-shadow: 0 0 10px var(--cir), 0 0 30px var(--cir);
}
.number{
    position: absolute;
    inset: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIN 1s linear forwards;
    animation-delay: 2.5s;
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}
.number h2 span{
    font-weight: 300;
    color:#fff;
    font-size: 0.5em;
}
.number p{
   font-weight: 300 ;
   font-size: 0.8em; 
   letter-spacing: 2px ;
   text-transform: uppercase;
   color: rgba(255,255,255,0.75);

}
/* we know your taste */
.vehicle{
  position: relative;
  min-height: 100vh;
  /* margin-top: -10%; */
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(20,20,22);
  background: linear-gradient(37deg, rgba(20,20,22,1) 0%,
 rgba(66,90,190,1) 50%, rgba(20,20,22,0.8799894957983193) 100%);
}
.vehicle h1{
  padding-top: 5%;
  font-size: 3em;
  text-align: center;
  color: #fff;
  text-shadow:0 0 10px #00b3ff, 
  0 0 20px #00b3ff,
  0 0 40px #00b3ff,
  0 0 80px #00b3ff,
  0 0 120px #00b3ff;
}
.vehicle .container{
  margin-top: -10px;
  width: 1000px;
  height:400px;
  background: rgb(180, 173, 173);
  /* margin-top: 10%; */
  margin: 120px;
  display: flex;
}
.vehicle .col{
  height:100%;
  flex: 1;
  color: #fff;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  transition: 0.6s;
}
.vehicle .col:nth-child(1){
  background: #c85e1c;
}
.vehicle .col:nth-child(2){
  background: #bb1cc8;
}
.vehicle .col:nth-child(3){
  background: #6a1cc8;
}

.vehicle h2{
  text-align:center;
  font-size: 22px;
  font-weight: 600;
}
.vehicle .caption{
  max-width: 230px;
  font-size: 1em;
  margin: 28px 0;
  display: none;
}
.vehicle .caption button{
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  padding: 8px 18px;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1em;
}
.vehicle .col img{
  width: 200px;
  height: 300px;
  align-items: left;
  position: absolute;
  right:0;
  bottom: 0;
  border-radius: 5px;
}
.vehicle .col:hover{
  flex-grow: 2.5;
}
.vehicle .col:hover .caption{
  display:block
}
.vehicle .col:hover h2{
  text-align: left;
}
.vehicle .col img:hover{
  align-items: left;
}

.footer{   
  margin:0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  background: #111;
  position: relative;
  width: 100%;
  height: auto; 
}

.footer .container{
  background: #111;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .container .sec{
  margin-right: 30px;

}
.footer .container .sec.aboutus{
  width: 35%;
  
}
.footer .container h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer .container h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.footer p{
  color: #999;

}
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background: rgb(34, 92, 179);
}
.sci li a .fa-brands{
  color: #fff;
  font: 20px;
}
.quickLinks{
  position: relative;
  width: 25%;
}
.quickLinks ul li {
  list-style: none;
}
.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quickLinks ul li a:hover{
  color: #fff;
}
.contact{
  width: calc(35%-60px);
  margin-right: 0 !important;
}
.contact .info{
  position: relative;
}
.contact .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span{
  color: #999;
}
.contact .info li a{
  color: #999;
  text-decoration: none;
}
.contact .info li a:hover{
  color: #fff;
}
.copyrightText{
  width: 100%;
  background: #181818;
  padding:  8px 100px;
  text-align: center;
  color: #999;
}
@media(max-width: 1000px){
  .vehicle .container{
      flex-direction: column;
      width: fit-content;
  }
  .vehicle .col img{
    display: none;
  }
  .content{
    width:80%;
    height: 80%;
    box-shadow: none;
  }
  .content .about{
    width: 50%;
  }
.content .about h1{
    font-size: 2em;
  }
  .content .about p{
    display: none;
  }

  .content .imagebox::before{
    display: none;
  } 
  .footer{
      padding: 40px;
  }
  .footer .container{
      flex-direction: column;
  }
  .footer .container .sec{
      margin-right: 0;
      margin-bottom: 40px;
  }
  .footer .container .sec.aboutus, .quickLinks, .contact{
      width: 100%;
  }
  .copyrightText{
      padding:  8px 40px;
  }
}